<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<style>
  * {
    box-sizing: border-box;
  }

  .content {
    float: left;
    width: 75%;
  }

  .subscribe {
    float: left;
    width: 25%;
  }

  .layout:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .content {
      width: 100%;
    }
    .subscribe {
      width: 100%;
    }
  }
</style>

<body>

  {%- include header.html -%}

  <main aria-label="Content" style="min-height: 300px">
    <div class="wrapper">
      <div class="layout">
          <form style="text-align: right;padding:10px" action="{{ 'search' | absolute_url }}">
              <img alt='Search' src="{{ '/res/search.png' | relative_url }}" />
              <input type="text" placeholder="Search" name="q" id="tipue_search_input" />
          </form>
        <div class="content">
          {{ content }}
        </div>
        <div style="padding: 10px;">
          This blog has been moved to <a href="https://blog.xarial.com/">Xarial Blog</a>
        </div>
      </div>
    </div>
  </main>

  {%- include footer.html -%}

</body>

</html>